<h1>Bookmark Manager</h1>
<form action='/entered' method='post'>
  <label for='bookmark'>
    address to be bookmarked
    <input type='text' name='bookmark'>
  </label>
  <input type='submit' value='Save'>
</form>

